aamarpay==1.0.1
asgiref==3.8.1
certifi==2024.7.4
charset-normalizer==2.0.12
Django==5.0.7
django-filter==24.2
django-jazzmin==3.0.0
django-rest-framework==0.1.0
djangorestframework==3.15.2
idna==3.7
pillow==10.4.0
requests==2.26.0
sqlparse==0.5.1
sslcommerz-lib==1.0
typed-ast==1.5.5
tzdata==2024.1
urllib3==1.26.19
wrapt==1.12.1
