{% extends "frontend/base/base.html" %}
{% load static %}
{% block title %}Billing{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static "css/billing.css" %}">
{% endblock css %}

{% block content %}

<section class="checkout spad">
    <div class="container">
        
        <div class="checkout__form">
            <h4>Billing Informations</h4>
            <form method="POST" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        
                        <div class="checkout__input">
                            {{form.phone_no}}
                            
                        </div>
                        <div class="row">                            
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    
                                    {{form.country}}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    {{form.city}}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    {{form.area}}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    {{form.post_code}}                                    
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            {{form.house_or_road_no}}                            
                        </div>

                        <div class="checkout__input">
                            <p>Special Note if you want to attach<span>(Optional)</span></p>
                            <input type="text" placeholder="Notes about your order, e.g. special notes for delivery.">
                        </div>
                        <div class="checkout__input">
                            <button type="submit" class="site-btn">SAVE ADDRESS</button>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Your Order</h4>
                            <div class="checkout__order__products">Products <span>Total</span></div>
                            <ul>
                                {% for item in products %}
                                <li>{{item.fish.name}} ({{item.fish.discounted_price}}&#2547;/KG) <span>{{item.subtotal}} &#2547;</span> </li>
                                
                                {% endfor %}
                            </ul>
                            
                            <div class="checkout__order__total mt-2">Total <span>{{cost}} &#2547;</span></div>
                            
                            <a href="{% url "payment_session" %}" class="site-btn">PLACE ORDER</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}