{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <title> {% block title %}{% endblock title %} | FishBazar Dashboard</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="emran h ashiq - project - FishBazar" />
    <meta name="keywords" content="FishBazar - Made by - Emran H Ashiq">
    <meta name="author" content="emhash" />
    <link rel="icon" href="{% static "image/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">
    {% block css %}{% endblock css %}
    
</head>
<body class="">

	<div class="loader-bg">
		<div class="loader-track">
			<div class="loader-fill"></div>
		</div>
	</div>


	<!-- navigation start -->
	<nav class="pcoded-navbar menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				
				<div class="">
					<div class="main-menu-header">
						<img class="img-radius shadow" src="{{user.profile.image.url}}" alt="User-Profile-Image">
						<div class="user-details">
							<div id="more-details">{{user.profile.name}}<i class="fa fa-caret-down"></i></div>
						</div>
					</div>
					<div class="collapse" id="nav-user-link">
						<ul class="list-unstyled">
							<li class="list-group-item"><a href="#"><i class="feather icon-user m-r-5"></i>View Profile</a></li>
							<li class="list-group-item"><a href="#"><i class="feather icon-settings m-r-5"></i>Settings</a></li>
							<li class="list-group-item"><a href="#"><i class="feather icon-log-out m-r-5"></i>Logout</a></li>
						</ul>
					</div>
				</div>
				
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
					    <label>Navigation</label>
					</li>
					<li class="nav-item">
					    <a href="{% url "homepage" %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">HomePage</span></a>
					</li>
					<li class="nav-item">
					    <a href="{% url "dashboard" %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Dashboard</span></a>
					</li>
					<li class="nav-item">
					    <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-list"></i></span><span class="pcoded-mtext">Orders</span></a>
					</li>

                </ul>
			
			</div>
		</div>
	</nav>
	<!-- navigation end -->
	<!-- [ Header ] start -->
	<header class="navbar pcoded-header navbar-expand-lg navbar-light header-blue">
		
			
				<div class="m-header">
					<a class="mobile-menu" id="mobile-collapse" href="#"><span></span></a>
					<a href="#!" class="b-brand">
						
						<img style="width:150px;" src="{% static "image/fishlogo.png" %}" alt="" class="logo">
						<img src="{% static "image/fishbazar.jpg" %}" alt="" class="logo-thumb">
					</a>
					<a href="#!" class="mob-toggler">
						<i class="feather icon-more-vertical"></i>
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a href="#!" class="pop-search"><i class="feather icon-search"></i></a>
							<div class="search-bar">
								<input type="text" class="form-control border-0 shadow-none" placeholder="Search hear">
								<button type="button" class="close" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</li>
					</ul>
					<ul class="navbar-nav ml-auto">
						<li>
							<div class="dropdown">
								<a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon feather icon-bell"></i></a>
								<div class="dropdown-menu dropdown-menu-right notification">
									<div class="noti-head">
										<h6 class="d-inline-block m-b-0">Notifications</h6>
										<div class="float-right">
											<a href="#!" class="m-r-10">mark as read</a>
											<a href="#!">clear all</a>
										</div>
									</div>
									<ul class="noti-body">
										<li class="n-title">
											<p class="m-b-0">NEW - 2</p>
										</li>
										<li class="notification">
											<div class="media">
												<img class="img-radius" src="" alt="Pic">
												<div class="media-body">
													<p><strong>Kazi Nazrul</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>5 min</span></p>
													<p>Canceled Order of Katla fish</p>
												</div>
											</div>
										</li>

										<li class="n-title">
											<p class="m-b-0">EARLIER</p>
										</li>
										<li class="notification">
											<div class="media">
												<img class="img-radius" src="" alt="Pic">
												<div class="media-body">
													<p><strong>Begam Rokeya</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>10 min</span></p>
													<p>Prchaced Rui Fish - paid</p>
												</div>
											</div>
										</li>
                                        
									</ul>
									<div class="noti-footer">
										<a href="#">show all</a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="dropdown drp-user">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="feather icon-user"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-right profile-notification">
									<div class="pro-head">
										<img src="{{user.profile.image.url}}" class="img-radius" alt="User-Profile-Image">
										<span>{{user.profile.name}}</span>
										<a href="{% url "logout_view" %}" class="dud-logout" title="Logout">
											<i class="feather icon-log-out"></i>
										</a>
									</div>
									<ul class="pro-body">
										<li><a href="#" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
										<li><a href="#" class="dropdown-item"><i class="feather icon-mail"></i> My Messages</a></li>
										<li><a href="#" class="dropdown-item"><i class="feather icon-lock"></i> Lock Screen</a></li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>
				
			
	</header>
	<!-- [ Header ] end -->
	
	

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Dashboard</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="{% url "dashboard" %}">Dashboard</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="row">
        {% block content %}{% endblock content %}
        </div>

    </div>
</div>

<!-- Required Js -->
<script src="{% static "assets/js/vendor-all.min.js" %}"></script>
<script src="{% static "assets/js/plugins/bootstrap.min.js" %}"></script>
<script src="{% static "assets/js/ripple.js" %}"></script>
<script src="{% static "assets/js/pcoded.min.js" %}"></script>
<!-- Apex Chart -->
<script src="{% static "assets/js/plugins/apexcharts.min.js" %}"></script>

<!-- custom-chart js -->
<script src="{% static "assets/js/pages/dashboard-main.js" %}"></script>
{% block js %}{% endblock js %}
</body>

</html>
