{% extends "frontend/base/base.html" %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static "css/cart.css" %}">
{% endblock css %}

{% block content %}
<h1 class="heading">latest <span>Fishes</span></h1>
<div class="cart-container">
  <h2 class="cart-title">Your Shopping Cart</h2>
  <div class="cart-items-wrapper">
    <div class="slect-product">
      <p>Select the product you want to pay for now</p>
    </div>
    <form id="FormId" method="POST" novalidate>
      {% csrf_token %}
      {% for the_item in cart %}
      <div class="cart-item">
        <input type="checkbox" name="selected_items" value="{{ the_item.uid }}" id="id-{{ the_item.uid }}" class="cart-item-select">
        <img src="{{ the_item.fish.image.url }}" alt="Fish Image" class="cart-item-image">
        <div class="cart-item-details">
          <h3 class="cart-item-name">{{ the_item.fish.name }}</h3>
          <p class="cart-item-price">Price: <span class="item-price">&#2547; {{ the_item.subtotal }}</span></p>
        </div>
        <div class="quantiy">
          <p class="cart-item-quantity"> Quantity (KG):
            <a href="{% url 'cart_plus' the_item.uid %}" class="plus">+</a>
            {{ the_item.quantity }}
            <a href="{% url 'cart_minus' the_item.uid %}" class="minus">-</a>
          </p>
        </div>
        <a href="{% url 'delete_cart_product' the_item.uid %}" class="delete">Delete <i class="fas fa-trash"></i></a>
      </div>
      {% endfor %}
    </form>
  </div>
  <div class="cart-totals-wrapper">
    <div class="cart-subtotal">
      <span class="subtotal-label">Subtotal: &#2547; {{ orders.get_total }}</span>
      <span class="subtotal-amount"></span>
    </div>
    <div class="cart-shipping-cost">
      <span class="shipping-cost-label">Shipping: &#2547; 50</span>
      <span class="shipping-cost-amount"></span>
    </div>
    <div class="cart-total">
      <span class="total-label">Total: &#2547; {{ orders.get_total }}</span>
      <span class="total-amount"></span>
    </div>
    <a id="buttonId" class="cart-checkout-btn">Proceed to Checkout</a>
  </div>
</div>
<script>
  document.getElementById('buttonId').addEventListener('click', function() {
    document.getElementById('FormId').submit();
  });
</script>
{% endblock content %}
