{% extends "frontend/base/base.html" %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static "css/cart.css" %}">
{% endblock css %}

{% block content %}

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity(KG)</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                          <form id="FormId" method="POST" novalidate>
                            {% csrf_token %}
                            {% for the_item in cart %}
                            <tr>
                              <td class="shoping__cart__item">
                                <input type="checkbox" name="selected_items" value="{{ the_item.uid }}" id="id-{{ the_item.uid }}" class="cart-item-select">
                                  <img style="max-width: 100px;" src="{{the_item.fish.image.url}}" alt="">
                                  <h5>{{the_item.fish.name}}</h5>
                              </td>
                              <td class="shoping__cart__price">
                                  {{the_item.fish.discounted_price}} &#2547;
                              </td>
                              <td class="shoping__cart__quantity">

                                  <div class="quantity">
                                    <a class="btn border border-danger" href="{% url 'cart_minus' the_item.uid %}" class="plus">-</a>                                        
                                    <span class="container">{{ the_item.quantity }} </span>
                                    <a class="btn border border-success" href="{% url 'cart_plus' the_item.uid %}" class="plus">+</a>
                                  </div>

                              </td>
                              <td class="shoping__cart__total">
                                  {{the_item.subtotal}} &#2547;
                              </td>
                              <td  class="shoping__cart__item__close">
                                <a href="{% url "delete_cart_product" the_item.uid %}" >                                    
                                  <span class="icon_close"></span>
                                </a>
                              </td>
                            </tr>
                            {% endfor %}
                            </form>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="{% url "products" %}" class="primary-btn cart-btn border border-info">CONTINUE SHOPPING</a>
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li>Shipping Bill <span>120 Tk</span></li>
                        
                    </ul>
                    <button id="buttonId" class="primary-btn">PROCEED WITH SELECTED ITEMS</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->
<script>
  document.getElementById('buttonId').addEventListener('click', function() {
    document.getElementById('FormId').submit();
  });
</script>
{% endblock content %}
