{% extends "frontend/base/base.html" %}
{% load static %}
{% block title %}Sign Up{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock css %}
{% block content %}

<div class="wrapper">
	<div class="header">
		<div class="top">
			<div class="logo">
				<img src="{% static "image/emhash.png" %}" alt="emhash" style="width: 175px;">
			</div>
			<div class="form">
                <form novalidate method ="POST" >
                    {% csrf_token %}

                    {% for field in form %}
					<br>
                    {{field.label}}
					<div class="input_field">						
						{{field}}
					</div>

					{% if field.errors %}
                    {% for error in field.errors %}
                    <p style="color:red;">{{error}}</p>
					<br>
                    {% endfor %}
					{% endif %}
                    
					{% endfor %}

					<div class="butndiv">

						<button 
						type="submit"
						class="butn"
						>
						Submit
						</button>
					</div>
    
                </form>
			</div>
			
		</div>
		<div class="signup">
			<p>Already have an account? <a href="{% url "loginpage" %}">Log In</a></p>
		</div>

	</div>
</div>


{% endblock content %}