{% load common %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fish Market | {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block css %}{% endblock css %}
  </head>
  <body>
    <header>
      <div class="header1">
        <a href="#" class="logo"><i class="fas fa-shopping-basket"></i>FishBazar</a>
         {% comment %} <form method="GET" class="search-box-container">
          {% for field in searching.form %}
          {{field.label}}
          {{field}}
          {% endfor %}
          <button>
            <label for="search-box" class="fas fa-search"></label>
          </button>
        </form>  {% endcomment %}

        {% comment %} <form action="/products/?" >
          <div class="search">
            <input name="name"  placeholder="Fish name">            
            <input  type="number" name="price_min"  placeholder="Min Price"><span>-</span>
            <input type="number" name="price_max" placeholder="Max Price">
            
            <button type="submit" class="btn">
              <i class="fas fa-search"></i>
            </button>
          </div>
            
        </form>
         {% endcomment %}
        
        <form action="/products/?" >
          <div class="search-local">
            <input class="input1" name = "name" type="text" placeholder="Fish name">
            <input class="input2"  type="number" name="price_min"  placeholder="Min Price"><span>-</span>
            <input class="input2" type="number" name="price_max" placeholder="Max Price">

            <button type="submit">
              <i class="fas fa-search"> </i>
            </button>
          </div>
        </form>
        

      </div>
      <div class="header2">
        <div id="menu-bar" class="fas fa-bars"></div>
        <nav class="navbar">
          <a href="{% url "homepage" %}">Home</a>
          <a href="#category">Category</a>
          <a href="{% url "products" %}">Products</a>
          <a href="#deal">Deal</a>
          <a href="#contact">Contact</a>
          
        </nav>
        <div class="icons">
          {% if user.is_authenticated %}
          <a href="{% url "cart" %}" class="fas fa-shopping-cart"><span>{{ request.user.profile | cart_data }}</span></a>
          <a href="#" class="fas fa-heart">{% if fav_item %}<span>{{fav_item}}</span>{% endif %}</a>
          
          <a href="{% url "logout_view" %}" class="fas fa-sign-out-alt"></a>
          
          {% else %}
          <a href="{% url "cart" %}" class="fas fa-shopping-cart"><span></span></a>
          <a href="#" class="fas fa-heart">{% if fav_item %}<span>{{fav_item}}</span>{% endif %}</a>
          <a href="{% url "loginpage" %}" class="fas fa-user-circle"></a>
          
          {% endif %}
        </div>
      </div>
    </header>

    {% block content %}{% endblock content %}

    <section class="footer">
      <div class="box-container">
        <div class="box">
          <a href="" class="logo"><i class="fas fa-shopping-basket"></i></a>
          <p>
            FishBazar is just like as usual Bazar (Market ) or Super Shop of Fresh and Higene Fishes. 
            Buy fishes from FishBazar and Enjoy easy fish shopping without any hassle.
          </p>
          <div class="share">
            <a href="#" class="btn fab fa-facebook-f"></a>
            <a href="#" class="btn fab fa-twitter"></a>
            <a href="#" class="btn fab fa-instagram"></a>
            <a href="#" class="btn fab fa-linkedin"></a>
          </div>
        </div>
        <div class="box">
          <h3>Our Location</h3>
          <div class="links">
            <a href="#">USA</a>
            <a href="#">india</a>
            <a href="#">dubai</a>
            <a href="#">turkey</a>
            <a href="#">azerbaijan</a>
          </div>
        </div>
        <div class="box">
          <h3>Quick Links</h3>
          <div class="links">
            <a href="#">Home</a>
            <a href="#">Category</a>
            <a href="#">Product</a>
            <a href="#">Deal</a>
            <a href="#">Contact</a>
          </div>
        </div>
        <div class="box">
          <h3>Download App</h3>
          <div class="links">
            <a href="#">Google play</a>
            <a href="#">Window 10</a>
            <a href="#">App Store</a>
          </div>
        </div>
      </div>
      <h1 class="credit"> created by <a class="nav-link" href="https://ashiq.my.id/"> @EMHASH </a> || all rights reserved! </h1>
    </section>

    <script src="{% static "js/main.js" %}" defer data-deferred="1"></script> 
  </body>
</html>